# AQI Source API Configuration
OGD_API_KEY=your_ogd_key_here
OGD_RESOURCE_ID=3b01bcb8-0b14-4abf-b6f2-c1bfd384ba69
OPENAQ_API_KEY=

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_REGION=us-east-1
S3_BUCKET=aqi-pipeline-yourname

# Snowflake Configuration
SNOWFLAKE_ACCOUNT=xxxxxx.us-east-1
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=transformer
SNOWFLAKE_WAREHOUSE=aqi_wh
SNOWFLAKE_DATABASE=aqi_db

# Airflow + Docker Compose Configuration
AIRFLOW_HOME=/opt/airflow
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
